*{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 0 20px;
}

#nav-title {
    margin-right: auto;
}

.img-container {
    display: flex;
    justify-content: center;
}

.headshot {
    border-radius: 100%;
}

.subheading {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 18%;
    text-align: right;
    border-right: 2px solid;
    padding-right: 10px;
    margin-bottom: 15px;
}

aside h3 {
    font-size: 30px;
}

.right {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 47%;
    margin: 10px;
    border: 1px solid black;
}

#main-project {
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

.contact {
    display: flex;
    width: 80%;
}

.contact ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

.contact li {
    display: block;
    justify-content: space-around;
}