header {
    background-color: aquamarine;
    
}

nav {
    
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 18%;
    border-right: 2px solid;

}

.right {
    width: 80%;
}

.card {
    display: flex;
    flex-direction: column;
}
